.ind-fleet {
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border: 1px solid gainsboro;
    padding: 10px;
}
.display-ship {
    margin: 10px 0;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.back-container button {
    background-color: blue;
    color: white;
    /*padding: 20px;*/
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.display-upgrade {

}
.ship-col {
    display: flex;
    justify-content: center;
    width: 23.8%;

}
.upgrade-col {

}
.content-container {
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}

.display-ship-img {
    height: 60px;
    overflow: hidden;
    /*clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 30%);*/
}
.display-ship-img img {
    height: 100px;
}