.ship-card p {
    color:white;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mobile-card {
    background-color: #a6a6a6;
    border-radius: 5px;
}