/************************
   basic formatting
   ************************/
* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

a { text-decoration: none; }

ul { margin: 0; }

.col {
    margin: 0;
}
.desktop {
    display: none;
}
@media screen and (min-width: 680px){
    .desktop {
        display: block;
    }
}
button {
    cursor: pointer;
}
/************************
header bar
************************/
header {
    background-color: black;
    color: white;
}
.armada-logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.header-container {
    background-color: black;
    height: 50px;
}

.nav-container { float: right; }

nav { background-color: black; }

.armada-logo img { height: 35px; }



.nav-links {
    background-color: black;
    text-align: center;
    padding: 0;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 0.3s;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}

.nav-links li a:hover { border-bottom: 1px solid white; }

.armada-logo-container {
    height: 70px;
    display: flex;
    align-items: center;
}

.armada-logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 25%;
}

#armada-logo { width: 25%; }

.nav-container { float: right; }

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    /*background-color: black;*/
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */



/* Style navigation menu links */


/* Style the active link (or home/logo) */
.active { color: white; }

.armada-logo-img { height: 65px; }

.tablet-nav { display: none; }
/************************
home page
************************/
main { clear: both; }

.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.32), #000), url(src/images/home-page/rebel-background.png);
    text-align: center;
    background-size: cover;
    height: 100vh;
}

.home-container h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.faction {
    float: right;
    margin: 0;
}

.faction img {
    height: 300px;
    margin-bottom: 40px;
    transition: .3s;
}

.faction img:hover { transform: scale(1.1); }

/************************
imperial fleet
************************/
button { border-radius: 5px; }

/************************
fleet display - left side
************************/
.selector-container { float: left; }

#fleet-name {
    font-size: 27px;
    margin-left: 15px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 5px;
    text-align: center;
}



.fleet-display img {
    height: 60px;
    margin-top: 7px;
}

.span-3-of-4 { width: 100%; }

#fleet-name {
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fleet-total {
    width: 30%;
    font-size: 40px;
}

.drop-down-ship,
.drop-down-obj {
    font-family: 'Orbitron', sans-serif;

}

.big-points-container * { font-family: 'Orbitron', sans-serif; }

.points-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.points-display {
    display: flex;
    align-items: center;
    justify-content: center;
}


/************************
Max Points
************************/
.max-points {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-points input {
    width: 50px;
    font-size: 20px;
}

/************************
selected fleet
************************/
.selected-ships { padding: 10px; }

.ship-img {
    height: 40px;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
}

.ship > div { width: 50%; }

.ship-img img {
    max-height: 330px;
    max-width: 100px;
}

.ship-name {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto 0;
    transition: all 0.4s;
}

.ship-name p {
    margin: 0 0 0 12px;
    font-size: 30px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;

}
.ship-name:hover {
    transform: scale(1.1);
    background-color: #eeeeee;
    border-radius: 5px;
}

.delete {
    font-size: 35px;
    transition: all .3s;
}
.delete:active { transform: scale(.9); }

.span-4-of-12 { width: 25%; }

.span-7-of-12 { width: 50%; }

.chosen-ship {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chosen-ship-container { margin: 20px 0; }

.chosen-ship-container:first-child{ margin-top: 0; }

.chosen-card-container {

}

/************************
upgrade bar
************************/
.upgrade-bar {
    display: block;
    padding-bottom: 5px;
}

.upgrade-bar button {
    border: none;
    background-color: gray;
    margin: 3px;
    padding: 5px 5px 0 5px;
    transition: all 0.3s;

}

.upgrade-bar button:hover {
    background-color: black;
    transform: scale(1.1);
}

.upgrade-bar button img { height: 20px; }

/************************
add ship
************************/
.add-ship-container {
    /*margin-bottom: 20px;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px 0;
    text-align: center;
}

#ship-button {
    border: none;
    line-height: 35px;
    width: 90%;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    transition: all .4s;
    cursor: pointer;
}
#ship-button:active{
    background-color: #515151;
    transform: scale(0.95);
}
#ship-button:hover {
    background-color: rgba(0, 0, 0, 0.42);
}

#ship-button a {
    color: black;
    font-size: 20px;
}

/************************
add-squadron
************************/
.add-squadron-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

#squad-button {
    border: none;
    font-family: 'Russo One', sans-serif;
    line-height: 15px;
    background: none;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
#squad-button:hover {
    border: 1px solid gray;
}

#squad-button span {
    margin-right: 20px;
    background-color: gray;
    border-radius: 5px;
    padding: 15px;
}

/************************
objectives
************************/


.button-action-bar{
    display: flex;
    justify-content: space-evenly;
}
.ship-name,
.delete {
    cursor: pointer;
}



/************************
action bar
************************/
.action-bar { margin-bottom: 20px; }

.action-bar > button { font-size: 20px; }

#print-button { text-transform: uppercase; }

#back-button {
    background: none;
    border: none;
}

.export-container {
    display: inline-block;
    float: right;
}

#export-button {
    text-align: right;
    font-size: 20px;
}



/************************
crawl
************************/
.crawl-container {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

/************************
card
************************/
/************************
card display - right side
************************/
.card-display {
    float: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), #000), url(images/home-page-background-1.png);
    text-align: center;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
}

.card { display: inline-block; }

.card a {
    width: 100%;
    height: 100%;
}

.card img {
    height: 580px;
    margin: 10px;
    transition: transform 0.3s;
}

.ship-card { display: inline-block; }

.ship-card img {
    height: 70px;
    margin: 10px;
    cursor: pointer;
}

.card img:hover { transform: scale(1.1) }

.squad-card { display: inline-block; }

.squad-card img {
    height: 370px;
    margin: 10px;
}

.assigned-upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4% 0 2%;
    margin:  5px 0 5px 50px;
    border-left: 1px solid black;
    width: 60%;
}
.equipped-upgrades {

}
.upgrade-name {
    font-size: 15px;
}

.upgrade-img-container {
    overflow: hidden;
    height: 40px;
}
.upgrade-img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    width: 60px;

}
/**********************
Conatct Me
**********************/
label { float: left; }

textarea { float: left; }

#message { clear: left; }

#submit { clear: both; }

/*.span-1-of-4 { width: 100%; }*/

.selected-ship-container {
    position: relative;
    margin-bottom: 10px;
}

.selector-container {
    overflow: scroll;
    height: 80vh;
    transition: all 0.5s ease-out;
}

/****************
Landing Page
****************/
.landing-img {
    height: 300px;
    transition: all 0.4s;
}
.landing-img:hover {
    transform: scale(1.15);
}
.img-cont {
    display: flex;
    justify-content: center;
}
.faction-cont {
    display: flex;
    justify-content: center;
}
.content-row {
    height: 90vh;
    display: flex;
    align-items: center;
}
.content-row a {
    color: snow;
}
.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), #000), url(images/home-page-background-1.png);
}
.title > h1 {
    color: snow;
    text-align: center;
    margin: 0;
    padding-top: 2vh;
}
.user-container {
    margin-bottom: 4vh;


}
#username {
    height: 20px;
}
label {
    margin: 2vh 0;
    font-size: 20px;
}


/****************
Login
****************/
.login-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), #000), url(images/home-page-background-1.png);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-button {
    background-color: #a6a6a6;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(205, 205, 205, 0.3);
    margin-top: 10px;
    padding: 5px;
    opacity: .7;
}



/****************
Media Queries
****************/

/* applies to screens 680 px and above (past mobile phone) */
@media screen and (min-width: 500px) {
    .ship-card img { height: 580px; }

    .squad-card img { height: 250px;}

    .squad-card img { height: 550px;}

}

/* applies to screens 680 px and above (past mobile phone) */
@media screen and (min-width: 680px) {

    .ship-card img { height: 55px; }

    .squad-card img { height: 180px;}

    .selector-container { height: 100vh; }

    .tablet-nav { display: block; }

    .small-nav { display: none; }

    .card-display { width: 70%; }

    .span-1-of-2 { width: 50%; }

    #empire-container { float: left; }

    #rebel-container { float: right; }

    .selector-container { margin: 0 auto; }

    .span-1-of-3 { width: 33%; }

    #fleet-total { font-size: 20px; }

    .ship-name p {
        margin-left: 5px;
        font-size: 10px;
    }
    .logo-container { display: block; }

    .big-points-container > div { width: 100%; }

    .big-points-container { padding: 5px; }

    #fleet-total { width: 32%; }

    .max-points label {
        width: 45%;
        font-size: 16px;
    }


    .card img { height: 300px; }

    .selected-ships { padding: 0; }

    .nav-links { text-align: right; }

    #fleet-name {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-size: 18px;
    }

    .points-display {
        display: block;
        margin: 5px 10px ;
        text-align: center;
        font-size: 20px;
    }
    .current-points {
        font-size: 16px;
        margin: 5px 0 5px 10px;
    }

    #squad-button { font-size: 12px; }

    #squad-button {
        display: flex;
        align-items: center;
    }
    #squad-button span {
        float: left;
        margin-right: 10px;
    }
    /*.selected-ship-container {*/
        /*display: flex;*/
        /*align-items: center;*/
    /*}*/

    .add-ship-container { margin-bottom: 0; }

    #squad-button span { padding: 8px; }

    #ship-button { font-size: 15px; }

    .add-squadron-container {
        margin-bottom: 5px;
        padding: 10px 0;
    }

    .objective-selector-container { padding: 0; }

    .objective-selector-container > ul { padding: 0; }

    .action-bar > button { font-size: 13px; }

    #export-button { font-size: 13px; }

    .obj-button { font-size: 14px; }

    .export-container {
        float: none;
        margin-top: 10px;
    }

    /* Ship Cards */

    .ship-img {
        width: 80px;
        height: 38px;
    }

    .delete { font-size: 25px; }

    .delete-upgrade { font-size: 20px; }

    .upgrade-bar > button img { height: 10px; }

    .ship-name { width: 50%; }
}
@media screen and (min-width: 767px) {

    .ship-card img { height: 60px; }

    .squad-card img { height: 190px;}

    .ship-name { width: 45%; }

    .ship-name p {
        font-size: 18px;
        margin-left: 8px;
    }

    .ship-img {
        width: 110px;
        height: 38px;
    }

    .ship-name span { font-size: 35px; }

    .card img { height: 420px; }

}

@media screen and (min-width: 900px) {
    .squad-card img { height: 220px;}
    .ship-card img { height: 65px;}
}

@media screen and (min-width: 1200px) {
    .span-1-of-3 {
        width: 33.33333%;
    }
    .squad-card img { height: 300px;}
    .ship-card img { height: 100px;}
}