/************************
   basic formatting
   ************************/
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

/************************
header bar
************************/
header {
    background-color: black;
    color: white;
}
.armada-logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-container {
    float: right;
}
nav {
    background-color: black;
}

.armada-logo img {
    height: 60px;
}
.nav-container {
    height: 65px;
    display: flex;
    align-items: flex-end;
}

.nav-links {
    /*float: right;*/
    /*margin-top: 20px;*/
    background-color: black;
    text-align: center;
    padding: 0;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 0.3s;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}

.nav-links li a:hover {
    border-bottom: 1px solid white;
}

.armada-logo-container {
    height: 70px;
    display: flex;
    align-items: center;
}
.armada-logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 25%;
}
#armada-logo {
    width: 25%;
}
.nav-container {
    float: right;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
#myLinks a {
    color: white;
    margin: 15px;
    font-family: "Fjalla One", sans-serif;
}

/* Style navigation menu links */
.topnav a {
    color: black;
    /*padding: 20px;*/
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #a6a6a6;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

/* Style the active link (or home/logo) */
.active {
    color: white;
}
.armada-logo-img {
    height: 65px;
}
.tablet-nav {
    display: none;
}
/************************
home page
************************/
main {
    clear: both;
}
.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.32), #000), url(src/images/home-page/rebel-background.png);
    text-align: center;
    background-size: cover;
    height: 100vh;
}

.home-container h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
f
.faction {
    float: right;
    margin: 0;
}

.faction img {
    height: 300px;
    margin-bottom: 40px;
    transition: .3s;
}

.faction img:hover {
    transform: scale(1.1);
}

/************************
imperial fleet
************************/
button {
    border-radius: 5px;
}

/************************
fleet display - left side
************************/
.selector-container {
    float: left;
}

#fleet-name {
    font-size: 27px;
    margin-left: 15px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 5px;
    text-align: center;
}

.points-display {
    display: inline-block;
    /*margin-bottom: 30px;*/
    margin-left: 20px;
    font-size: 40px;
}

.fleet-display img {
    height: 100px;
    margin: 15px 0 10px 15px;
}
.span-1-of-3 {
    width: 100%;
}
.span-1-of-2 {
    width: 100%;
}
.span-3-of-4 {
    width: 100%;
}

#fleet-name {
    font-size: 22px;
}

#fleet-total {
    width: 30%;
    font-size: 40px;
}
.big-points-container {
    margin-top: 10px;
}
.big-points-container > div {
    margin: 15px 0;
}
.big-points-container * {
    font-family: 'Orbitron', sans-serif;
}

.points-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.points-display {
    display: flex;
    align-items: center;
    justify-content: center;
}


/************************
Max Points
************************/
.max-points {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-points input {
    width: 50px;
    font-size: 20px;
}

/************************
selected fleet
************************/
.selected-ships {
    padding: 10px;
}

.ship-img {
    height: 40px;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;

}

.ship > div {
    width: 50%;
}

.ship-img img {
    max-height: 330px;
    max-width: 100px;
}

.ship-name {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto 0;

}

.ship-name p {
    margin: 0 0 0 12px;
    font-size: 30px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

.delete {
    font-size: 35px;
    display: inline-block;
    width: 20%;
    position: absolute;
    top: 5px;
    right: 0px;
    transition: all .3s;
}
.delete:active {
    transform: scale(.9);
}

.span-4-of-12 {
    width: 25%;
}

.span-7-of-12 {
    width: 50%;
}

/************************
upgrade bar
************************/
.upgrade-bar {
    display: none;
    padding-bottom: 5px;
}

.upgrade-bar button {
    background: none;
    border: none;
    background-color: gray;
    margin: 3px;
    padding: 5px 5px 0px 5px;
    transition: background-color 0.3s;
    transition: transform 0.3s;

}

.upgrade-bar button:hover {
    background-color: black;
    transform: scale(1.1);
}

.upgrade-bar button img {
    height: 20px;
}

/************************
add ship
************************/
.add-ship-container {
    /*margin-bottom: 20px;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    text-align: center;
}

#ship-button {
    border: none;
    line-height: 50px;
    width: 90%;
    font-weight: 300;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    transition: all .4s;
}
#ship-button:active{
    background-color: #515151;
    transform: scale(0.95);
}

#ship-button a {
    color: black;
    font-size: 20px;
}

/************************
add-squadron
************************/
.add-squadron-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

#squad-button {
    border: none;
    font-family: 'Russo One', sans-serif;
    line-height: 15px;
    background: none;
    font-size: 20px;
    letter-spacing: 1px;
}

#squad-button span {
    margin-right: 20px;
    background-color: gray;
    border-radius: 5px;
    padding: 15px;
}

/************************
objectives
************************/
.objective-selector-container {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 15px 0;

}

.obj-button {
    display: block;
    margin: 5px;
    box-sizing: border-box;
    width: 80%;
    line-height: 40px;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.obj-button:hover {
    background-color: #d3d2d2;

}

/************************
action bar
************************/
.action-bar {
    margin-bottom: 20px;
}

.action-bar > button {
    font-size: 20px;
}

#print-button {
    text-transform: uppercase;

}

#back-button {
    background: none;
    border: none;
}

.export-container {
    display: inline-block;
    float: right;
}

#export-button {
    text-align: right;
    font-size: 20px;
}

/************************
card
************************/
/************************
card display - right side
************************/
.card-display {
    float: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.26), #000), url(images/home-page-background-1.png);
    text-align: center;
    background-size: cover;
    height: 130vh;
    overflow: scroll;
}

.card {
    display: inline-block;
}
.card a {
    width: 100%;
    height: 100%;
}

.card img {
    height: 580px;
    margin: 10px;
    transition: transform 0.3s;
}

.ship-card {
    display: inline-block;
}

.ship-card img {
    height: 370px;
    margin: 10px;

}

.card img:hover {
    transform: scale(1.1)
}

.squad-card {
    display: inline-block;
}

.squad-card img {
    height: 370px;
    margin: 10px;
}

.assault-card {

}

/**********************
Conatct Me
**********************/
label {
    float: left;
}

textarea {
    float: left;
}

#message {
    clear: left;
}

#submit {
    clear: both;
}

.span-1-of-4 {
    width: 100%;
}

.selected-ship-container {
    position: relative;
    margin-bottom: 10px;
}

.selector-container {
    overflow: scroll;
}

/****************
Media Queries
****************/
/* applies to screens 680 px and above (past mobile phone) */
@media screen and (min-width: 680px) {
    .tablet-nav {
        display: block;
    }
    .small-nav {
        display: none;
    }
    .span-1-of-4 {
        width: 25%;
    }
    .span-1-of-2 {
        width: 50%;
    }
    #empire-container {
        float: left;
    }
    #rebel-container {
        float: right;
    }
    .selector-container {
        margin: 0 auto;
    }
    .span-3-of-4 {
        width: 75%;
    }
    .span-1-of-3 {
        width: 50%;
    }
    #fleet-total {
        font-size: 28px;
    }
    .ship-name p {
        margin-left: 5px;
        font-size: 10px;
    }
    .logo-container {
        display: block;
    }
    .big-points-container > div {
        width: 100%;
    }
    .big-points-container {
        padding: 5px;
    }

    #fleet-total {
        width: 45%;
    }
    .max-points label {
        width: 45%;
    }


    .card img {
        height: 300px;
    }

    #fleet-name
    .selected-ships {
        padding: 0;
    }

    .nav-links {
        text-align: right;
    }

    #fleet-name {
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }

    .points-display {
        display: block;
        margin: 5px 10px ;
        text-align: center;
        font-size: 28px;
    }
    .current-points {
        font-size: 16px;
        margin: 5px 0 5px 10px;
    }

    #squad-button {
        font-size: 12px;

    }
    #squad-button {
        display: flex;
        align-items: center;
    }
    #squad-button span {
        float: left;
        margin-right: 10px;
    }
    /*.selected-ship-container {*/
        /*display: flex;*/
        /*align-items: center;*/
    /*}*/

    .add-ship-container {
        margin-bottom: 0;
    }
    #squad-button span {
        padding: 8px;
    }
    #ship-button {
        font-size: 15px;
    }
    #fleet-name {

    }

    .add-squadron-container {
        margin-bottom: 5px;
        padding: 10px 0;
    }

    .objective-selector-container {
        padding: 0;
    }

    .objective-selector-container > ul {
        padding: 0;
    }
    .action-bar > button {
        font-size: 13px;
    }
    #export-button {
        font-size: 13px;
    }

    .obj-button {
        font-size: 14px;
    }

    .export-container {
        float: none;
        margin-top: 10px;
    }

    /* Ship Cards */

    .ship-img {
        width: 25px;
        height: 25px;
    }
    .delete {
        font-size: 25px;
    }
    .upgrade-bar > button img {
        height: 10px;
    }

    .ship-name {
        width: 50%;
    }
}
@media screen and (min-width: 767px) {
    .ship-name {
        width: 55%;
    }
    .ship-name p {
        font-size: 18px;
        margin-left: 8px;
    }
    .ship-img {
        width: 35px;
        height: 45px;
    }
    .ship-name span {
        font-size: 35px;
    }
    .card img {
        height: 420px;
    }
    .fleet-display img {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .span-1-of-3 {
        width: 33.33333%;
    }
}